.course__standard-input {
  width: 70%;
  padding: $gutter * 0.5;
  margin-bottom: 15px;
  border: 1px solid $black;
  border-radius: 1px;
  float: right;
}
.course__small-input{
  width: 13%;
  padding: $gutter * 0.5;
  margin-bottom: 10px;
  border: 1px solid $black;
  border-radius: 1px;
  margin-right: 20px;
}
.course__h2{
  width: 100%;
  font-size: 36px;
}
.course__text{
  width: 100%;
  font-size: 24px;
  margin-top: 20px;
}
.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
}