
.footer {
	background-color: $blue;
	padding-bottom: 3em;
}

footer li {
	color:#fff;
	
}

.footer__container {
	padding-top:1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

li {
	list-style: none;
	padding-top: 0.5em; 
}

.footer__1 {
	
}

.footer__2 {
	
}

.footer__3 {
	
}

.footer__4 {
	
}