
.grid {
  max-width: $max-width;
  margin: $gutter auto;
}

.grid__row {
  display: flex;
  margin-right: $gutter * -0.5;
  margin-left: $gutter * -0.5;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid__col--higher-order {
  @media (max-width: 750px) {
    order: -1;
  }
}

.grid__col {
  display: flex;
  width: 100%;
  padding-right: $gutter * 0.5;
  padding-left: $gutter * 0.5;
  margin-top: $gutter;
  margin-bottom: $gutter;
  flex-direction: column;

  //m: medium, 6/12 columns, semsagt þegar við höfum millibreitt tæki (milli 750 - 1100 px), þá tekur col 50% af síðu
  &--m-6 {
    @media (min-width: 750px) {
      width: 50%;
    }
  }

  //l: large, 4/12 columns, semsagt þegar við höfum mjög breitt tæki (>1100 px), þá tekur col 33.33% af síðu
  &--l-4 {
    @media (min-width: 1100px) {
      width: 33.33333333%;
    }
  }

  @media (max-width: 900px) {
    justify-content: space-between;
  }
}

.grid--top-bot-margin {
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.grid--top-margin {
  margin-top: $gutter;
}

.grid--bottom-margin {
  margin-bottom: $gutter;
}

.grid__h2 {
  width: 100%;
  font-size: 36px;
}

.grid__h3 {
  width: 100%;
  font-size: 24px;
}

.grid__text {
  width: 100%;
  font-size: 24px;
}

.grid__description {
  width: 100%;
  min-height: 44px;
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.grid__add-to-cart {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid__add-to-cart__label {
  width: 100%;
}

.grid__add-to-cart__input {
  width: 56%;
  padding: $gutter * 0.5;
  font-size: 15px;
  border: 1px solid $black;
  border-radius: 3px;
}

.grid__add-to-cart__button {
  width: 40%;
  padding: $gutter * 0.5;
  font-size: 16px;
  cursor: pointer;
  background-color: #d3d3d3;
  border: 1px solid $black;
  border-radius: 3px;

  &:hover {
    background-color: #00b7ff;
  }

  &::before {
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-right: 8px;
    margin-bottom: -2px;
    content: "";
    background: url("img/cart.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.grid__button {
  width: 250px;
  max-width: 100%;
  padding-top: $gutter * 0.5;
  padding-bottom: $gutter * 0.5;
  margin-top: $gutter;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: $blue;
  border: 0;
  border-radius: 3px;

  &:hover {
    color: $white;
    background-color: $orange;
  }
}

.grid__image {
  max-width: 100%;
}

.grid__cart {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.grid__cart__add-to-cart__input {
  width: 20%;
  padding: $gutter * 0.5;
  margin-right: $gutter * 0.5;
  font-size: 20px;
  border: 1px solid $black;
  border-radius: 3px;
}

.grid__cart__add-to-cart__button {
  width: 30%;
  padding: $gutter * 0.5;
  margin-right: $gutter * 0.5;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid $black;
  border-radius: 3px;

  &:hover {
    background-color: #00b7ff;
  }

  &::before {
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-right: 8px;
    margin-bottom: -2px;
    content: "";
    background: url("img/cart.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.grid__cart__add-to-cart {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid__cart__flex-price {
  display: flex;
  height: 60%;
  align-items: flex-end;
}

.grid__cart__add-to-cart__label {
  width: 100%;
}

.grid__standard-input {
  float: right;
  width: 70%;
  padding: $gutter * 0.5;
  margin-bottom: 15px;
  border: 1px solid $black;
  border-radius: 1px;
}

.grid__small-input {
  padding: $gutter * 0.5;
  margin-bottom: 10px;
  border: 1px solid $black;
  border-radius: 1px;
}

.grid__small-input-container-inner {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.grid__small-input-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
}
