@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  /*<! TODO fleiri grunn stillingar */
}
header {
	background-color:#FF5500;
	padding-bottom: 1.5em;
}
.header__heading {
	display: flex;
	justify-content: center;
}
.header__links {
	display: flex;
	justify-content: space-around;	
}
footer {
	background-color:#33C0FF;
	padding-bottom: 3em;
}
footer li {
	color:#fff;
	
}
.footer__container {
	padding-top:1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
li {
	list-style: none;
	padding-top: 0.5em; 
}
.footer__1 {
	
}
.footer__2 {
	
}

.footer__3 {
	
}

.footer__4 {
	
}



/*<! TODO sækja allar sass skrár
@import "scss/...";*/

